.PostCard {
    text-align: center;
}

.PostCardBody {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 1px 1px #eeeeee;
}

h1{
    color: darkslategrey;
}
